.background{
    background-image: url(../Images/Howold.jpg);
    background-position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    width: 100vw;
} 